.formSlider {
  position: relative;
  height: 100vh;
  width: 100vw;
  padding: 3rem;
  display: flex;
  align-items: center;
}

.formSlider .formSlider-item {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.formSlider-arrow {
  font-size: 2rem;
  text-decoration: none;
  color: #000;
}

.formSlider-hide-item {
  display: none !important;
}

.formSlider-show-item {
  display: flex !important;
}

.formSlider-disable-arrow {
  color: #eee;
  cursor: not-allowed;
}

.formSlider-error {
  position:absolute;
  top:1rem;
  right:1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding:1rem 2rem;
  border-left:3px solid rgba(255,0,0,1);
  background:rgba(0, 0, 0, 0.05);
  color:rgba(255, 0, 0, 0.8);

  font-size:.8rem;
  text-align: left;
}

.formSlider-error ul {
  list-style: none;
}

.formSlider-error span {
  cursor:pointer;
  display:block;
  padding:1rem;
  margin-left:2rem;
  color:rgba(255, 0, 0, 0.8);
  font-weight: bold;
}
